<div class="text-center mt-3 mb-3">
    <form>
        <input
            class="rounded"
            type="search"
            placeholder="Search"
            autofocus
            (keyup)="updateSearchFilter($event.target.value)">
    </form>
</div>
<app-photo-list-photos [childPhotoList]="parentPhotoList | filterByDescription: searchFilter"></app-photo-list-photos>
<app-load-button (click)="loadMore()" [hasMore]="hasMore"></app-load-button>
