<p class="text-center text-muted" *ngIf="!childPhotoList.length">
    Sorry, no photos.
</p>
<ol class="list-unstyled">
    <li class="row" *ngFor="let columns of rows">
        <div class="col-4" *ngFor="let photo of columns">
            <app-photo 
                [photoUrl]="photo.url" 
                [photoDescription]="photo.description">
            </app-photo>
        </div>
    </li>
</ol>